{% extends 'base.html.twig' %}

{% block title %}Nos Menus{% endblock %}

{% block body %}
<header class="header-bottom-4">
    <img src="{{ asset('./front/images/banner/banner10.jpg') }}">
    <div class="header-bottom-4__bg">
        <div class="icon">
            <img src="{{ asset('./front/images/banner/banner-shape.png') }}">
        </div>
    </div>
    <div class="container">
        <h1 class="section-title">Nos <span>Menus </span></h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
            <li class="breadcrumb-item active">Regime</li>
            <li class="breadcrumb-item active">Menus</li>
        </ol>
    </div>
</header>
<div class="container mt-5">
    <th>Trier : </th>
        <a href="{{ path('trier_menu_description_ASC', {'id': app.request.get('id')}) }}">&nbsp;ASC &nbsp;</a>|
        <a href="{{ path('trier_menu_description_DESC', {'id': app.request.get('id')}) }}">&nbsp; DESC &nbsp;</a>
</div>

    <div class="container d-flex align-items-center mt-5">
        <input class="form-control" type="search" id="search" placeholder="Search by Nom">
        <a href="{{ path('search', {'id': app.request.get('id')}) }}"><i class="fa fa-sort"></i></a>
    </div>

    <div class="container" id="all">
        {% include 'menu_front/search.html.twig' %}
    </div>
    
    <div class="d-flex justify-content-center mt-5">
        {{ knp_pagination_render(pagination) }}
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $( document ).ready(function() {
        var currentRequest = null;
        $("#search").keyup(function(e){
            var value = $(this).val();
            if(currentRequest != null) {
                currentRequest.abort();
            }
            currentRequest = $.ajax({
                url : "{{ path('search', {'id': app.request.get('id')}) }}",
                type : 'GET',
                data: {
                    'searchValue' : value
                },
                success : function(retour)
                {
                    $('#all').html(retour);
                },
            });
            return false;
        });
    });
</script>
{% endblock %}