{% extends 'baseAdmin.html.twig' %}

{% block title %}Listes Des Abonnements{% endblock %}
{% block body %}
    <br>
    <div class="p-4 bg-light" style="align-items: center">
        <h1>Listes Des Abonnements</h1>
    </div>
{% for message in app.flashes('info') %}
<div class="alert alert-success" style="width: 300px;" >
    {{ message }}
</div>
{% endfor %}
    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Type</th>
                <th>Prix</th>
                <th>Déscription</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for abonnement in abonnements %}
            <tr>
                <td>{{ abonnement.titre }}</td>
                <td>{{ abonnement.type }}</td>
                <td>{{ abonnement.prix }}</td>
                <td>{{ abonnement.descrAb }}</td>
                <td>
                    <a href="{{ path('abonnement_show', {'id': abonnement.id}) }}"> <i class="align-middle" data-feather="monitor"></i> <span class="align-middle"></span> </a>
                    <a href="{{ path('abonnement_edit', {'id': abonnement.id}) }}"> <i class="align-middle" data-feather="edit"></i> <span class="align-middle"></span> </a>

                    <form class="align-middle" method="post" action="{{ path('abonnement_delete', {'id': abonnement.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ abonnement.id) }}">
                        <button class="btn" >
                            <a> <i class="align-middle" data-feather="trash"></i> <span class="align-middle"></span> </a>
                        </button>
                    </form>



                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul class="my-pagination">
        {{ knp_pagination_render(
            abonnements,
            '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig',
            {
                'queryParam1': 'param1 value',
                'queryParam2': 'param2 value'
            },
            {
                'viewParam1': 'param1 value',
                'viewParam2': 'param2 value'
            },
        ) }}
    </ul>
{% endblock %}
