{% block body %}

    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
    <h1>
        Monsieur/madame
    </h1>

    <h2>Voici Votre Réclamation</h2>

    <hr>
    <table>

        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Mail</th>
            <th>Type</th>
            <th>Date</th>
            <th>Description</th>
            <th>Etat</th>
        </tr>

        <tr>
            <td>{{ reclamation.nom }}</td>
            <td>{{ reclamation.prenom }}</td>
            <td>{{ reclamation.mail }}</td>
            <td>{{ reclamation.type }}</td>
            <td>{{ reclamation.date ? reclamation.date|date('Y-m-d') : '' }}</td>
            <td>{{ reclamation.description }}</td>
            <td>{{ reclamation.etat }}</td>
        </tr>
    </table>
    <hr>

{% endblock %}