{% extends 'base.html.twig' %}
{% block body %}
{% if passwordform is defined %}
Veuillez saisir votre adresse e-mail pour rechercher votre compte
{{ form(passwordform) }}
    {% for message in app.flashes('message') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% elseif  keyform is defined%}
        {{ form(keyform) }}
        {% for message in app.flashes('message') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    {% elseif  passwordbackupform is defined %}
        {{ form(passwordbackupform) }}
        {% for message in app.flashes('message') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
{% endif %}
{% endblock %}
