{% extends "front/baseFront.html.twig" %}

{% block body %}
    <!-- Start of .shop -->
    <section class="shop main-blog">
        <div class="main-blog__bg">
            <div class="icon">
                <img src="./images/png-shapes/form-shape.png">
            </div>
            <div class="icon">
                <img src="./images/png-shapes/specialists__left-bottom-shape.png">
            </div>
        </div>
        <form class="shop-checkout container container_right-sidebar" method="post">
           {#  <div class="article">
                <h1 class="title">Billing Details</h1>
                <div class="form-block">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputName">Name <span>*</span></label>
                            <input required type="text" class="form-control is-invalid" id="inputName">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputLastname">Lastname <span>*</span></label>
                            <input required type="text" class="form-control" id="inputLastname">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail">Email Address <span>*</span></label>
                            <input required type="email" class="form-control" id="inputEmail">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputTel">Phone Number <span>*</span></label>
                            <input required type="tel:" class="form-control" id="inputTel">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="emailAdress">Email Adress <span>*</span></label>
                        <div class="select-box">
                            <i class="fa fa-angle-down"></i>
                            <select id="emailAdress" class="form-control">
                                <option selected>United Kingdom</option>
                                <option>United Kingdom 2</option>
                                <option>United Kingdom 3</option>

                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="streetAddress">Street Address <span>*</span></label>
                        <input required type="text" class="form-control" id="streetAddress">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="townCity">Town / City <span>*</span></label>
                            <input required type="email" class="form-control" id="townCity">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="postcode">Postcode / ZIP <span>*</span></label>
                            <input required type="tel:" class="form-control" id="postcode">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input required type="checkbox" id="shipToDifferent" hidden>
                            <label for="shipToDifferent">
                                <div class="icon">
                                    <i class="fa fa-check"></i>
                                </div>
                                <span>Ship to a different address?</span>
                            </label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputName2">Name <span>*</span></label>
                            <input required type="email" class="form-control" id="inputName2">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputLastname2">Lastname <span>*</span></label>
                            <input required type="text" class="form-control" id="inputLastname2">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail2">Email Address <span>*</span></label>
                            <input required type="email" class="form-control" id="inputEmail2">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputTel2">Phone Number <span>*</span></label>
                            <input required type="tel:" class="form-control" id="inputTel2">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="emailAdress2">Email Adress <span>*</span></label>
                        <div class="select-box">
                            <i class="fa fa-angle-down"></i>
                            <select id="emailAdress2" class="form-control">
                                <option selected>United Kingdom</option>
                                <option>United Kingdom 2</option>
                                <option>United Kingdom 3</option>

                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="streetAddress2">Street Address <span>*</span></label>
                        <input required type="text" class="form-control" id="streetAddress2">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="townCity2">Town / City <span>*</span></label>
                            <input required type="email" class="form-control" id="townCity2">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="postcode2">Postcode / ZIP <span>*</span></label>
                            <input required type="tel:" class="form-control" id="postcode2">
                        </div>
                    </div>
                    <div class="form-group form-textarea">
                        <label for="textarea">Additional informations</label>
                        <textarea id="textarea" class="form-control" placeholder="Notes about your order, e.g. special notes for delivery"></textarea>
                    </div>
                </div>
            </div> #}
            <div class="sidebar">
                <div class="checkout-sidebar">
                    <h1 class="title">Your Order</h1>
                    <div>
                        <div class="yourOrder">
                            <div class="product">
                                <span>Product</span>
                                <span>Nombre</span>
                                <span>Total</span>
                            </div>
                            <table>
                                <tr>
                                    <th>{{ nomAct }} </th>
                                    <th>{{ nbPlace }} </th>
                                    <td>$<span>{{ price }}</span></td>
                                </tr>
                                <tr>
                                    <th>
                                        <br>
                                    </th>
                                </tr>
                            </table>
                            <div class="total">
                                <span>Total</span>
                                <span>$<span>{{ nbPlace * price }}</span></span>
                            </div>
                        </div>
                        <div class="radioBoxes">
                            <table>
                                <tr>
                                    <td>
                                        <input type="radio" name="shipping" id="cashOnDelivery" hidden>
                                        <label for="cashOnDelivery">
                                            <span class="dot"></span>
                                            <span class="text">Cash on delivery</span>
                                            <span class="subtext">Pay with cash upon delivery</span>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="radio" name="shipping" id="paypal" hidden>
                                        <label for="paypal">
                                            <span class="dot"></span>
                                            <span class="text">Paypal</span>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="radio" name="shipping" id="direct" hidden>
                                        <label for="direct">
                                            <span class="dot"></span>
                                            <span class="text">Direct bank transfer</span>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="radio" name="shipping" id="cheque" hidden>
                                        <label for="cheque">
                                            <span class="dot"></span>
                                            <span class="text">Cheque payment</span>
                                        </label>
                                    </td>
                                </tr>
                            </table>

                            <div class="chek-term-condition">
                                <input type="checkbox" id="chekTermCondition" hidden>
                                <label for="chekTermCondition">
                                    <div class="icon">
                                        <i class="fa fa-check"></i>
                                    </div>
                                    <span>I've read and accept the <a href="#">term &
                                                condition<span>*</span></a></span>
                                </label>
                            </div>
                            <button type="submit" href="{{ path('checkout') }}">place order</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
    <!-- End of .shop -->

{% endblock %}