







<!-- Start of .shop -->
<section class="shop main-blog">
    <div class="main-blog__bg">
        <div class="icon">
            <img src="{{ asset('./images/png-shapes/form-shape.png') }}">
        </div>
        <div class="icon">
            <img src="{{ asset('./images/png-shapes/specialists__left-bottom-shape.png') }}">
        </div>
    </div>



    <form class="shop-checkout container container_right-sidebar" {{ form_start(formRec,{'attr': {'novalidate': 'novalidate'}} ) }}
        <div class="article">
            <div class="form-block">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputName2">Nom <span>*</span></label>
                        <input required type="text" class="form-control" id="inputLastname2"
                        {{ form_errors(formRec.nom) }}
                        {{ form_widget(formRec.nom) }}
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputName2">Prénom <span>*</span></label>
                        <input required type="text" class="form-control" id="inputLastname2"
                        {{ form_errors(formRec.prenom) }}
                        {{ form_widget(formRec.prenom) }}


                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail2">Email<span>*</span></label>
                        <input required type="text" class="form-control" id="inputLastname2"
                        {{ form_errors(formRec.mail) }}
                        {{ form_widget(formRec.mail) }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="emailAdress2">Type De Probléme<span>*</span></label>
                    <div class="select-box">
                        <i class="fa fa-angle-down"></i>
                        <select id="emailAdress2" class="form-control"
                            {{ form_errors(formRec.type) }}
                            {{ form_widget(formRec.type) }}

                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6" hidden>

                        <input required type="text" class="form-control" id="inputLastname2"
                        {{ form_errors(formRec.date) }}
                        {{ form_widget(formRec.date) }}
                    </div>
                </div>
                <div class="form-group form-textarea">
                    <label for="textarea">Description</label>
                    <textarea id="textarea" class="form-control"
                    {{ form_errors(formRec.description) }}
                    {{ form_widget(formRec.description) }}
                </div>
                <br>
                <br>
                <button class="btn">{{ button_label|default('Save') }}</button>
            </div>
        </div>

    {{ form_end(formRec) }}

</section>

<!-- End of .shop -->





