{% extends 'base.html.twig' %}



{% block body %}
    <header class="header-bottom-4">
        <!--<img src="{{ asset('./images/ab1.png') }}">-->
        <div class="header-bottom-4__bg">
            <div class="icon">
                <img src="{{ asset('./images/banner/banner-shape.png') }}">
            </div>
        </div>
        <div class="container">
            <h1 class="section-title">Liste De Mes <span>Reclamations</span></h1>
            <ol class="breadcrumb">
            </ol>
        </div>
    </header>

    <!DOCTYPE html>
    <html lang="en">
    <body>

    <!-- Start of .preloader -->
    <div class="preloader">
        <div class="loader"></div>
        <h6 class="preloader-text">MindSpace<br>Mes Reclamations</h6>
    </div>
    <!-- End of .preloader -->

    <div class="page">


        <!-- Start of .doctors -->
        <section class="doctors main-blog">
            <div class="main-blog__bg">
                <div class="icon">
                    <img src="{{ asset('./images/png-shapes/form-shape.png') }}">
                </div>
                <div class="icon">
                    <img src="{{ asset('./images/png-shapes/specialists__left-bottom-shape.png') }}">
                </div>
            </div>
            <div class="container">
                <div class="doctors__cards doctorsFilterContainer">
                    {% for reclamation in reclamations %}
                    <div class="doctors__cards-item filterDentists">
                        <a href="doctors-single_right.html">
                            <div class="content">
                                <h1 class="name">{{ reclamation.etat }}</h1>
                                <p class="profession">{{ reclamation.date ? reclamation.date|date('Y-m-d') : '' }}</p>
                                <p class="text">
                                    {{ reclamation.type }}
                                </p>
                            </div>
                        </a>
                        <div class="socials">
                            <a href="{{ path('reclamation_controller_user_show', {'id': reclamation.id}) }}"><i class="read-more"></i>Lire la suite</a>
                        </div>
                    </div>
                    {% else %}
                        <tr>
                            <td colspan="9">Il y a aucune reclamation</td>
                        </tr>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- End of .doctors -->
    </div>

    <!------------------------------------------------------------------------>

    <!-- scroll top - to top page -->
    <div class="to-top" id="scrollUp"><i class="fa fa-angle-up"></i></div>

    <!-- search box -->
    <div class="searchBox">
        <span class="searchBox-close">&times;</span>
        <form>
            <input type="search" placeholder="Write Search Keyword & Press Enter">
            <button type="submit">
                <svg width="24.71" height="25.687" viewBox="0 0 24.71 24.687">
                    <path id="search.svg" class="cls-2"
                          d="M1144.4,440.468l8.19,8.178-3.47,3.467-8.19-8.178,1.18-1.177-1.38-1.385a7.878,7.878,0,1,1,1.11-1.11l1.38,1.383Zm-2.36-5.172a6.29,6.29,0,1,0-6.29,6.282A6.293,6.293,0,0,0,1142.04,435.3Zm8.33,13.35-3.61-3.6-1.24,1.245,3.6,3.6Zm-5.97-3.465,1.25-1.246-1.25-1.245-1.24,1.245Zm-11.79-9.885h-1.57a4.715,4.715,0,0,1,4.71-4.712v1.57A3.146,3.146,0,0,0,1132.61,435.3Z"
                          transform="translate(-1127.88 -427.438)" /></svg>
                search
            </button>
        </form>
    </div>

    <!-- Popup Form -->
    <div class="popup-form">
        <div class="inner-block">
            <span class="popup-form-close" id="popup-form-close">&times;</span>
            <div class="img">
                <img src="./images/jpg/popup-form.jpg">
            </div>
            <form>
                <h1 class="section-title">make an appointment</h1>
                <div class="input-box">
                    <label for="popup-name">Name *</label>
                    <input type="text" id="popup-name" required>
                </div>

                <div class="input-box">
                    <label for="popup-email">Email *</label>
                    <input type="text" id="popup-email" required>
                </div>

                <div class="input-box">
                    <label for="popup-phone">Phone *</label>
                    <input type="tel" id="popup-phone" required>
                </div>

                <div class="select-box">
                    <i class="fa fa-angle-down"></i>
                    <select>
                        <option selected>Department</option>
                        <option selected>Department2</option>
                        <option selected>Department3</option>
                        <option selected>Department4</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-2_pink">send</button>
            </form>
        </div>
    </div>

    <!-- Scripts + Jquery plagins -->

    <!-- .preloader  -->
    <script src="./js/my-preloader.js"></script>

    <!-- jQuery -->
    <script src="./js/jQuery-3.4.1.js"></script>

    <!-- bootstrap js -->
    <script src="./js/bootstrap.min.js"></script>

    <!-- wow js animation -->
    <!-- <script src="./js/wow.min.js"></script> -->

    <!-- owl-carousel js -->
    <script src="./js/owl.carousel.min.js"></script>
    <script src="./js/carousel.js"></script>

    <!-- fancybox 3 js -->
    <script src="./js/jquery.fancybox.js"></script>

    <!-- Counter up -->
    <script src="./js/jquery.waypoints.min.js"></script>
    <script src="./js/jquery.countup.min.js"></script>

    <!-- isotope filter card -->
    <script src="./js/isotope.pkgd.min.js"></script>

    <!-- customer js -->
    <script src="./js/index.js"></script>

    </body>

    </html>
{% endblock %}
