{% extends 'base.html.twig' %}


{% block body %}
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Ibn Sino Html-5 Template | About Us</title>
        <link rel="icon" href="./images/icon.png">

        <!-- wow animation style -->
        <link rel="stylesheet" href="./css/animate.css">

        <!-- owl-carousel -->
        <link rel="stylesheet" href="./css/owl.carousel.min.css">
        <link rel="stylesheet" href="./css/owl.theme.default.min.css">

        <!-- fancybox 3 css -->
        <link rel="stylesheet" href="./css/jquery.fancybox.min.css">

        <!-- bootstrap style -->
        <link rel="stylesheet" href="./css/bootstrap.min.css">

        <!-- template style -->
        <link rel="stylesheet" href="./css/main.css">

        <!-- Responsive -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    </head>

    <body>


    <!------------------------------------------------------------------------>

    <div>
        <!-- Start of .header-bottom-4 -->
        <header class="header-bottom-4">
            <!--<img src="{{ asset('./images/ab1.png') }}">-->
            <div class="header-bottom-4__bg">
                <div class="icon">
                    <img src="{{ asset('./images/banner/banner-shape.png') }}">
                </div>
            </div>
            <div class="container">
                <h1 class="section-title">Passer Une <span>Reclamation</span></h1>
            </div>
        </header>
        <!-- End of .header-bottom-4 -->

        <!-- Start of .from -->
        <section class="form">
            <div class="container">
                <div class="form__block">
                    <form method="POST" {{ form_start(formRec,{'attr': {'novalidate': 'novalidate'}} ) }}
                    <input class="form__block-input" type="text" placeholder="Nom"
                    {{ form_errors(formRec.nom) }}
                    {{ form_widget(formRec.nom) }}
                    <input class="form__block-input" type="text" placeholder="Prénom"
                    {{ form_errors(formRec.prenom) }}
                    {{ form_widget(formRec.prenom) }}
                    <input class="form__block-input" type="email" placeholder="Email"
                    {{ form_errors(formRec.mail) }}
                    {{ form_widget(formRec.mail) }}
                    <select class="form__block-input"
                    {{ form_errors(formRec.type) }}
                    {{ form_widget(formRec.type) }}
                    </select>
                    <textarea placeholder="Description"
                    {{ form_errors(formRec.description) }}
                    {{ form_widget(formRec.description) }}
                    <button class="btn btn_pink">{{ button_label|default('Envoyer') }}</button>
                    <label>* Les données personnelles seront cryptées</label>
                    <div hidden>
                        <input class="form-control" id="inputLastname2"
                        {{ form_errors(formRec.date) }}
                        {{ form_widget(formRec.date) }}
                    </div>
                    {{ form_end(formRec) }}
                    </form>
                </div>
            </div>
            <div class="form__bg">
                <div class="circle-blue"></div>
                <div class="circle-pink"></div>
                <div class="icon">
                    <img src="{{ asset('./images/png-shapes/form-shape.png') }}">
                </div>
            </div>
        </section>
        <!-- End of .from -->

            <!-- Start of .footer__bottom -->
            <div class="footer__bottom">
                <p>Copyright &copy; 2019 MindSpace | Privacy Policy</p>
            </div>
            <!-- End of .footer__bottom -->

        </footer>
        <!-- End of .footer -->

    </div>

    <!------------------------------------------------------------------------>

    <!-- scroll top - to top page -->
    <div class="to-top" id="scrollUp"><i class="fa fa-angle-up"></i></div>

    <!-- search box -->
    <div class="searchBox">
        <span class="searchBox-close">&times;</span>
        <form>
            <input type="search" placeholder="Write Search Keyword & Press Enter">
            <button type="submit">
                <svg width="24.71" height="25.687" viewBox="0 0 24.71 24.687">
                    <path id="search.svg" class="cls-2"
                          d="M1144.4,440.468l8.19,8.178-3.47,3.467-8.19-8.178,1.18-1.177-1.38-1.385a7.878,7.878,0,1,1,1.11-1.11l1.38,1.383Zm-2.36-5.172a6.29,6.29,0,1,0-6.29,6.282A6.293,6.293,0,0,0,1142.04,435.3Zm8.33,13.35-3.61-3.6-1.24,1.245,3.6,3.6Zm-5.97-3.465,1.25-1.246-1.25-1.245-1.24,1.245Zm-11.79-9.885h-1.57a4.715,4.715,0,0,1,4.71-4.712v1.57A3.146,3.146,0,0,0,1132.61,435.3Z"
                          transform="translate(-1127.88 -427.438)" /></svg>
                search
            </button>
        </form>
    </div>

    <!-- Popup Form -->
    <div class="popup-form">
        <div class="inner-block">
            <span class="popup-form-close" id="popup-form-close">&times;</span>
            <div class="img">
                <img src="./images/jpg/popup-form.jpg">
            </div>
            <form>
                <h1 class="section-title">make an appointment</h1>
                <div class="input-box">
                    <label for="popup-name">Name *</label>
                    <input type="text" id="popup-name" required>
                </div>

                <div class="input-box">
                    <label for="popup-email">Email *</label>
                    <input type="text" id="popup-email" required>
                </div>

                <div class="input-box">
                    <label for="popup-phone">Phone *</label>
                    <input type="tel" id="popup-phone" required>
                </div>

                <div class="select-box">
                    <i class="fa fa-angle-down"></i>
                    <select>
                        <option selected>Department</option>
                        <option selected>Department2</option>
                        <option selected>Department3</option>
                        <option selected>Department4</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-2_pink">send</button>
            </form>
        </div>
    </div>

    <!-- Scripts + Jquery plagins -->

    <!-- .preloader  -->
    <script src="./js/my-preloader.js"></script>

    <!-- jQuery -->
    <script src="./js/jQuery-3.4.1.js"></script>

    <!-- bootstrap js -->
    <script src="./js/bootstrap.min.js"></script>

    <!-- wow js animation -->
    <script src="./js/wow.min.js"></script>

    <!-- owl-carousel js -->
    <script src="./js/owl.carousel.min.js"></script>
    <script src="./js/carousel.js"></script>

    <!-- fancybox 3 js -->
    <script src="./js/jquery.fancybox.js"></script>

    <!-- Counter up -->
    <script src="./js/jquery.waypoints.min.js"></script>
    <script src="./js/jquery.countup.min.js"></script>

    <!-- customer js -->
    <script src="./js/index.js"></script>

    </body>

    </html>

{% endblock %}
