{% extends 'base.html.twig' %}


{% block body %}
    <header class="header-bottom-4">
        <!--<img src="{{ asset('./images/ab1.png') }}">-->
        <div class="header-bottom-4__bg">
            <div class="icon">
                <img src="{{ asset('./images/banner/banner-shape.png') }}">
            </div>
        </div>
        <div class="container">
            <h1 class="section-title">Details de la <span>Reclamation</span></h1>
            <ol class="breadcrumb">
            </ol>
        </div>
    </header>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ reclamation.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ reclamation.prenom }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ reclamation.mail }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ reclamation.type }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ reclamation.date ? reclamation.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ reclamation.description }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ reclamation.etat }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
