{% extends "baseAdmin.html.twig" %}


{% block body %}



    <div class="card-body">
    <form  method="post"{{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
        <div class="form-group">
            <label for="abonnement_titre" class="required">Titre</label>
            <span class="form-control">
                {{ form_errors(form.titre) }}
                {{ form_widget(form.titre, {'attr' : { 'class' : 'form__block-input reservation-padding' , 'placeholder' :'Nom'}}) }}
            </span>
        </div>
        <div class="text-center" style="padding-top: 1rem"><button type="submit" class="reservationBtn">{{ button_label|default('Ajouter') }}</button></div>
        {{ form_end(form) }}
        </form>
    </div>
{% endblock %}