{% extends "base.html.twig" %}

{% block body %}
<div style="padding-top: 5rem">
    <h1>Panier</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdPanier</th>
                <td>{{ panier.idPanier }}</td>
            </tr>
            <tr>
                <th>NomAct</th>
                <td>{{ panier.nomAct }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ panier.prix }}</td>
            </tr>
            <tr>
                <th>Capacite</th>
                <td>{{ panier.capacite }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('panier_index') }}">back to list</a>

    <a href="{{ path('panier_edit', {'idPanier': panier.idPanier}) }}">edit</a>

    {{ include('front/panier/_delete_form.html.twig') }}
</div>
{% endblock %}
